NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 50 MHz HIGH 50%;

NET "clk" LOC = P56 | IOSTANDARD = LVTTL;
NET "rst_n" LOC = P38 | IOSTANDARD = LVTTL;

NET "cclk" LOC = P70 | IOSTANDARD = LVTTL;

NET "led<0>" LOC = P134 | IOSTANDARD = LVTTL;
NET "led<1>" LOC = P133 | IOSTANDARD = LVTTL;
NET "led<2>" LOC = P132 | IOSTANDARD = LVTTL;
NET "led<3>" LOC = P131 | IOSTANDARD = LVTTL;
NET "led<4>" LOC = P127 | IOSTANDARD = LVTTL;
NET "led<5>" LOC = P126 | IOSTANDARD = LVTTL;
NET "led<6>" LOC = P124 | IOSTANDARD = LVTTL;
NET "led<7>" LOC = P123 | IOSTANDARD = LVTTL;

NET "spi_mosi" LOC = P44 | IOSTANDARD = LVTTL;
NET "spi_miso" LOC = P45 | IOSTANDARD = LVTTL;
NET "spi_ss" LOC = P48 | IOSTANDARD = LVTTL;
NET "spi_sck" LOC = P43 | IOSTANDARD = LVTTL;
NET "spi_channel<0>" LOC = P46 | IOSTANDARD = LVTTL;
NET "spi_channel<1>" LOC = P61 | IOSTANDARD = LVTTL;
NET "spi_channel<2>" LOC = P62 | IOSTANDARD = LVTTL;
NET "spi_channel<3>" LOC = P65 | IOSTANDARD = LVTTL;

NET "avr_tx" LOC = P55 | IOSTANDARD = LVTTL;
NET "avr_rx" LOC = P59 | IOSTANDARD = LVTTL;
NET "avr_rx_busy" LOC = P39 | IOSTANDARD = LVTTL;

NET "speaker" LOC = P1 | IOSTANDARD = LVTTL;

NET "keyboard_btn<0>" LOC = P2 | IOSTANDARD = LVCMOS33;
NET "keyboard_btn<1>" LOC = P5 | IOSTANDARD = LVCMOS33;
NET "keyboard_btn<2>" LOC = P6 | IOSTANDARD = LVCMOS33;
NET "keyboard_btn<3>" LOC = P7 | IOSTANDARD = LVCMOS33;
NET "keyboard_btn<4>" LOC = P8 | IOSTANDARD = LVCMOS33;
NET "keyboard_btn<5>" LOC = P9 | IOSTANDARD = LVCMOS33;
NET "keyboard_btn<6>" LOC = P10 | IOSTANDARD = LVCMOS33;
NET "keyboard_btn<7>" LOC = P11 | IOSTANDARD = LVCMOS33;